<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbnEzFEnXkdkjjPQImSbU-V-HB2Py-jRc</string>
	<key>GCM_SENDER_ID</key>
	<string>993023489297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barisdilekci.Afet</string>
	<key>PROJECT_ID</key>
	<string>disaster-ca430</string>
	<key>STORAGE_BUCKET</key>
	<string>disaster-ca430.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993023489297:ios:13f92099e2dc6ae20c48b0</string>
</dict>
</plist>